<a href="https://colab.research.google.com/github/nogbazghi/CSC8980/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nahom Ogbazghi
022052292

Write a function that finds the factorial of a number. Test the function finding the factorial of the number 10.

In [2]:
number = 10
def findFactorial(num):
  factorial = 1
  for digit in range(1, num):
    factorial = factorial * digit
  print("factorial: " + str(factorial))
  return factorial
findFactorial(number)

factorial: 362880

362880

Write a function that determines if a number is a prime number. Test the function with the following numbers: 3 and 1251.

In [8]:

numbers = [3, 1251]
def checkIfPrime(number):
  isItPrime = True
  for digit in range(2, number-1):
    if number%digit == 0:
      isItPrime = False
  return isItPrime

for number in numbers:
  value = checkIfPrime(number)
  print(str(number) + " is prime? " + str(value))

3 is prime? True
1251 is prime? False

Write a function that transposes a matrix. Test with a 3 x 3 identity matrix.

In [11]:
matrix = [[7, 7, 0], [6, 7, 8], [4, 0, 4]]
def transposeMatrix(matrix):
  transposed_matrix = []
  for row in matrix:
    for index in range(0, len(row)):
      digit = row[index]
      if len(transposed_matrix) < len(row):
        transposed_matrix.append([digit])
      else:
        updateList = transposed_matrix[index]
        updateList.append(digit)
        transposed_matrix[index] = updateList
  return transposed_matrix
print(transposeMatrix(matrix))

[[7, 6, 4], [7, 7, 0], [0, 8, 4]]

Using Pandas and Numpy, write a piece of code to combine two series into one. Test your code with:

*   np.random.seed(0)
*   series1 = pd.Series(np.arange(10))
*   series2 = pd.Series(np.arange(26))

Do not forget to set the seed, or your answer wonâ€™t be reproducible.

In [14]:
import pandas as pd
import numpy as np

series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(26))
def combineSeries(seed, one, two):
  np.random.seed(seed)
  newseries = one.combine_first(two)
  return newseries

print(combineSeries(0, series1, series2))

0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
20    20.0
21    21.0
22    22.0
23    23.0
24    24.0
25    25.0
dtype: float64

Using pandas, write a piece of code to convert the first character of each element in a series to uppercase. Test your code with:
*   series = pd.Series(['nlp', 'will', 'be', 'easy?'])

In [13]:
import pandas as pd

series = pd.Series(['nlp', 'will', 'be', 'easy?'])
capitalized = series.str.capitalize()
print(capitalized)

0      Nlp
1     Will
2       Be
3    Easy?
dtype: object

Bonus: Using pandas, write a piece of code to get the frequency of unique values in the
entire dataframe (not using built in functions). Test your code with:
*   dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataFrame = pd.DataFrame(np.random.randint(5, 10, 20).reshape(-1, 4), columns = list('abcd'))
def uniqueValueFrequency(df):
  cols = df.columns.values
  rows = df.index.values
  uniqueValue = dict()
  for col in cols:
    items = df[col]
    for row in rows:
      digit = items[row]
      if digit in uniqueValue.keys():
        updatedCount = uniqueValue[digit] + 1
        uniqueValue[digit] = updatedCount
      else:
        uniqueValue[digit] = 1
  return uniqueValue
print(uniqueValueFrequency(dataFrame))

{8: 5, 7: 2, 5: 7, 6: 2, 9: 4}